doctype html
html
  head
    title Psychology Hub
    style.
       h1{text-align:center}
       p{text-align:center}
       a:hover{color:red}
       a:visited{color:darkblue}
       a{color:blue;}
       body{background-color:yellow}

  body
    h1 Welcome to Psychology Hub
    p A place to share and discuss your psychological journeys.
    iframe(width="100%", height="450", src="https://www.youtube.com/embed/rkZl2gsLUp4")
    a(href='/stories') View Stories
    a(href='/problems') View Problems
    a(href='/auth/login') Psychologist Login