doctype html
html
  head
    title Login - Psychology Hub
    style.
       h1{text-align:center}
       a:hover{color:red}
       a:visited{color:darkblue}
       a{color:blue;}
       body{background-color:yellow}
  body
    h1 Login
    if error
      p.error #{error} // Display any error messages
    form(action='/auth/login', method='POST')
      div
        label(for='username') Username:
        input(type='text', name='username', required)
      div
        label(for='password') Password:
        input(type='password', name='password', required)
      div
        button(type='submit') Login
    p Don't have an account? 
    a(href='/auth/signup') Sign Up
